.modal-header
  %h1
    = task.new_record? ? 'New Task' : "Edit #{task.title}"
  = simple_form_for task, class: 'clearfix', remote: true do |form|
    .modal-body
      = form.input :title
      = form.input :note
      = form.input :completed, as: :string, input_html: {class: 'datepicker'}
    .modal-footer
      = form.submit 'Save', class: 'btn btn-primary'