- if tasks.empty?
    %div.text-warning No task. Stolen by Russian hackers for Hillary!
    %p
    / = link_to image_tag( '/assets/images/noItems.jpg'), 'http://www.google.com'
    %img{:src => asset_path("noItems.jpg")}/
- else
    %table.table.table-hover.table-bordered
        %thead
            %tr
                %th Title
                %th Note
                %th Created at
                %th Completed?
                %th What to do
        %tbody
            - tasks.each do |item|
                %tr
                    %td
                        %strong= item.title
                    %td
                        %strong= item.note
                    %td.text-info= item.created_at
                    %td.text-success= item.completed
                    %td
                        = link_to task_path(item), remote: true, method: :delete do
                            %i.icon-remove-circle
                        = link_to edit_task_path(item), remote: true do
                            %i.icon-edit