!!!
%html
%head
	%title Todo for Azure
	= stylesheet_link_tag    "application", media: "all"
	= javascript_include_tag "application"
	= csrf_meta_tags
%body
	.row-fluid
		.span10.offset1
			.hero-unit.text-center
				%h2
					Todo Application for Azure
				%p
					Welcome to the todo's start page!
				= link_to 'New task', new_task_path,  class:  'btn btn-primary', remote: true
	= yield